.h1 {
    font-size: 50px;
    color: #ffffff;
}

.html {
    background-color: #aebc41;
    color: white;
}


#i {
    color: black;
    font-size: px;
}

.h3 {
    color: white;
    font-weight: bolder;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
    height: 5rem;
    width: 100%;
}

.btn {
    padding: .6rem 3rem;
    background-color: #aebc41;
    color: #fff;
    border-radius: .5rem;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid #aebc41;
    color: #aebc41;
}




#p1 {

    border-radius: 10px;
    color: #aebc41;
    padding: 20px;
}

.Hover {
    border: 2px solid var(--Soft-Green);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

#b1 {
    font-size: 30px;
    color: #aebc41;

}

#bg {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#p2 {
    font-size: 25px;
    color: black;
    text-align: center;
}

.frame {
    width: 400px;
    height: 200px;
    box-shadow: 0rem 5rem 1.5rem rgb(0, 0, 0, .1);
    margin-left: 80px;
    margin-top: 80px;

}

.frame1 {
    width: 400px;
    height: 200px;
    box-shadow: 0rem 5rem 1.5rem rgb(0, 0, 0, .1);
    margin-right: 80px;
    margin-top: 80px;
}

.left {
    text-align: center;
    margin-left: 80px;
    margin-bottom: 10px;
}

.right {
    text-align: center;
    margin-right: 80px;
    margin-bottom: 10px;
}